
@mixin center-content(){
    box-sizing: content-box;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    
    @media #{$smartphone-portrait}{
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@mixin interact-element-footer(){
    color: white;
    background-color: $color-footer;

    transition: color 0.3s, background-color 0.3s;

    &:hover{
        color: $color-footer;
        background-color: white;
    }
}

@mixin underline($padding-bottom: 0){
    border-bottom: 0px solid $color-orange;
    transition: border-bottom 0.2s, padding-bottom 0.2s;

    
    @if($padding-bottom != 0){
        padding-bottom: $padding-bottom;
    }

    &:hover {
        border-bottom: 3px solid $color-orange;

        @if($padding-bottom != 0){
            padding-bottom: ($padding-bottom - 3px);
        }
    }
}
@mixin noselect() {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
}

@mixin orangecircle($size, $font-size){
    @include noselect();
    display: block;
    background-color: $color-orange;
    height: $size;
    width: $size;
    border-radius: 50%;
    p {
        line-height: $size;
        text-align: center;
        color: white;
        transform-origin: center;
        transform: rotate(-20deg);
        font-size: $font-size;
        font-weight: 600;
    }
}
@mixin orange-border-bottom(){
    border-bottom: 2px solid $color-orange;
}
@mixin orange-link {
        color: $color-orange;
        &:hover {
            @include orange-border-bottom();
        }
}

@mixin opacity-fade {
    & img{
        image-rendering: pixelated;
        transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        -webkit-transition: opacity .3s ease-in-out;
    }

    &:hover img {
        opacity: 0.7;
    }
}