
@mixin center-content(){
    box-sizing: content-box;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

@mixin interact-element-footer(){
    color: white;
    background-color: $color-footer;

    transition: color 0.3s, background-color 0.3s;

    &:hover{
        color: $color-footer;
        background-color: white;
    }
}