/* TEAM SIX COLORS*/
$color-footer: #3a3e43;
$color-footer-bar: #303336;
$color-footer-light: #a8a8a8;

$color-facebook: #899dce;
$color-twitter: #60d2f5;
$color-instagram: #709cbf;

$color-h1: #424242;
$color-separator: #f2f2f2;
$color-separator-dark: #c5c5c5;
$color-header-nav-text: #424242;
$color-head-subtitle: #424242;
$color-post-title: #4b4f54;
$color-text: #777777;
$color-text-white: #fff;
$color-footer-light: #555;
$color-footer-h3: #888;
$color-orange: #ff8d6a;
$color-mainheader-socialicon-hover: #ff8d6a;
$color-mainheader-menu-categories-hover: grey;

/* TEAM SIX FONTS */
/* Open Sans - font weights available: 400 600 600 800 */
$font-open: 'Open Sans', sans-serif;
/* Open Sans - 400 400i (italique) */
$font-crimson: 'Crimson Text', serif;

// Media queries
$pc: "screen and (min-width: 840px)";
$smartphone: "screen and (max-width: 840px)";
$smartphone-portrait: "screen and (orientation: portrait)";
$smartphone-landscape: "screen and (orientation: landscape) and (max-width: 812px)";