* {
  margin: 0px;
  padding: 0px;
}

/* TEAM SIX COLORS*/
/* TEAM SIX FONTS */
/* Open Sans - font weights available: 400 600 600 800 */
/* Open Sans - 400 400i (italique) */
header {
  width: 100%;
  margin-top: 20px;
}

header #menu-mainheader_social li {
  display: inline;
}

header .head-menu {
  box-sizing: content-box;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

header .head-menu h1 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
  font-family: "Crimson Text", serif;
  color: #424242;
  font-weight: 600;
}

header .head-menu li {
  text-align: center;
  list-style: none;
  display: inline-block;
  box-sizing: border-box;
  height: 45px;
  padding: 15px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  font-weight: 600;
  border-bottom: 0px solid #ff8d6a;
  transition: border-bottom 0.2s;
}

header .head-menu li:hover {
  border-bottom: 3px solid #ff8d6a;
}

header .head-menu li a {
  color: #424242;
}

header .head-menu li a:hover {
  text-decoration: none;
}

header .head-menu hr {
  width: 100%;
  margin-top: 0;
  border-color: #f7f7f7;
}

header .menu {
  float: right;
  margin-right: 15px;
}

header .menu li {
  display: inline-block;
  box-sizing: content-box;
  padding: 4px 0;
  margin-right: 5px;
  width: auto;
}

header .menu li a {
  font-size: 13px;
  color: #424242;
  vertical-align: middle;
}

header .menu li a:hover {
  color: #ff8d6a;
}

header .menu li i {
  vertical-align: middle;
}

header .menu li:last-child {
  padding-left: 5px;
  border-left: 1px solid #f7f7f7;
}

/*
* Team-six-theme-Footer v.0.0.1 (for now it's done)
* Responsive: ON
* Fonts and colors are right
*/
footer {
  position: relative;
  width: 100%;
  background-color: #3a3e43;
}

footer .container-responsive {
  display: block;
  text-align: center;
}

footer .container-responsive .row {
  box-sizing: content-box;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

footer .container-responsive .row li {
  font-size: 13px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: left;
  color: #fff;
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 10px;
  border-top: 1px solid #a8a8a8;
}

footer .container-responsive .row li:first-child {
  border-top: none;
}

footer .container-responsive .row a {
  color: #fff;
  transition: color 0.3s;
}

footer .container-responsive .row a:hover {
  color: #a8a8a8;
  text-decoration: none;
  opacity: 0.7;
}

footer h3 {
  font-weight: 900;
  font-size: 22px;
  text-align: center;
  color: #a8a8a8;
}

footer .container-responsive-2 {
  box-sizing: content-box;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
  background-color: #303336;
}

footer .container-responsive-2 li {
  display: inline;
  margin-left: 8px;
  border: none;
}

footer .container-responsive-2 li:last-child {
  display: none;
}

footer .container-responsive-2 .fa {
  box-sizing: content-box;
  width: 20px;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #3a3e43;
  border-radius: 50%;
  transition: color 0.3s, background-color 0.3s;
}

footer .container-responsive-2 .fa:hover {
  color: #3a3e43;
  background-color: white;
}

footer #button-scroll-up {
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: #3a3e43;
  cursor: pointer;
}

header ul {
  list-style-type: none;
}

.primary {
  margin-top: 50px;
  height: 600px;
}

.primary .main_article {
  float: left;
  margin-left: 75px;
}

.primary .main_article > img {
  width: 600px;
  height: 450px;
  margin-right: 25px;
}

.primary .main_article .tag {
  text-align: center;
  line-height: 3em;
  font-size: 0.8em;
  font-weight: 900;
  margin-right: 25px;
  color: #ff8768;
}

.primary .main_article h2 {
  margin-bottom: 50px;
  margin-right: 25px;
  text-align: center;
  color: #686868;
}

.primary .secondary_articles {
  float: left;
  width: 500px;
}

.primary .secondary_articles > div {
  width: 250px;
  float: left;
}

.primary .secondary_articles > div img {
  width: 90%;
  height: auto;
}

.primary .secondary_articles > div h3 {
  font-size: 1rem;
  color: #484848;
  width: 95%;
  margin-bottom: 50px;
}

.featured_posts {
  float: left;
  width: 70%;
}

.featured_posts h2 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.featured_posts .post {
  float: left;
}

.featured_posts .post img {
  float: left;
  width: 40%;
  margin-right: 50px;
}

.featured_posts .post .post_details {
  width: 30%;
  float: left;
  height: 350px;
}

.featured_posts .post .post_details .tags {
  width: 200px;
  font-weight: 900;
  color: #ff8768;
  margin-bottom: 20px;
  border-right: 1px solid lightgrey;
  width: fit-content;
}

.featured_posts .post .post_details h3 {
  line-height: 25px;
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: #3f3f3f;
}

.latest_posts {
  float: left;
  width: 80%;
}

.latest_posts .row {
  margin-left: 25px;
}

.latest_posts .row .post {
  width: 40%;
  float: left;
  margin-left: 25px;
}

.latest_posts .row .post img {
  width: 95%;
}

.latest_posts .row .post .featured_details {
  text-align: center;
  height: 200px;
}

.latest_posts .row .post .featured_details .tag {
  width: 200px;
  font-weight: 900;
  color: #ff8768;
  margin-bottom: 20px;
  border-right: 1px solid lightgrey;
  width: fit-content;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */