
.single-box
{
    width: 100%;
    .single
    {
        background-color:#f7f7f7;
        text-align: center;
        display: block;
        margin-bottom: 5px;
        height: 60px;
        line-height: 60px;
        
        h2
        {
           
            margin-top: 5px;
        }
    }

}

