.featured{
    .post{
        width: 80%;
        height: 240px;
        padding: 24px 0;

        text-align: left;

        border-bottom: 1px solid $color-separator;

        .image-container{
            width: 40%;
            margin-right: 40px;
            float: left;
            
            img{
                width: 100%;
                height: auto;
            }
        }
        
        .category{
            a{
                padding-right: 12px;
                border-right: 1px solid $color-separator-dark;

            }
        }

        .title{
            margin: 20px 0;
            padding-right: 12px;

            border-right: 1px solid $color-separator;
        }

        p{
            padding-top: 10px;
        }
    }
}