/*
* Team-six-theme-Footer v.0.0.1 (for now it's done)
* Responsive: ON
* Fonts and colors are right
*/

footer{
    position: relative;
    width: 100%;
    background-color: $color-footer;
    .container-responsive {
        display: block;
        .row {
            // margin-left: 20%;
            // margin-right: 20%;
            // padding-top: 60px;
            // padding-bottom: 40px;
            // font-family: 'Open Sans', sans-serif; // 2nd font used here
            @media #{$smartphone-portrait}{
                margin-left: 5%;
                margin-right: 5%;
                padding-top: 15px;
                padding-bottom: 0px;
             }
             @media #{$smartphone-landscape}{
                margin-left: 5%;
                margin-right: 5%;
                padding-top: 15px;
                padding-bottom: 0px;
             }
            li {
                display: block;
                // width: 30%;
                margin-bottom: 15px;
                padding-bottom: 15px;
                padding-top: 25px;
                text-align: left;
                font-size: 13px;
                color: #fff;
                border-top: 1px solid $color-footer-light;
                &:first-child {
                    border-top: none;
                }
                @media #{$smartphone-portrait}{
                    text-align: center;
                    width: 100%;
                 }
            }
            a {
                color: #fff;
                transition: color 0.3s;
                &:hover {
                    color: $color-footer-light;
                    text-decoration: none;
                    opacity: 0.7;
                }
            }
            .popular {
                article {
                    width: 100%;
                    height: auto;
                    display: block;
                    margin-top: 15px;
                    margin-bottom: 30px;
                    @media #{$pc}{
                        .colg {
                            img {
                                width: 50px;
                                height: auto;
                                float: left;
                                margin-right: 10px;
                            }
                        }
                        .cold {
                            p {
                                font-weight: 600;
                            }
                        }
                    }
                    @media #{$smartphone-portrait}{
                        img {
                            display: block;
                            margin: 10px auto;
                            width: 150px;
                            height: auto;
                        }
                        p {
                            text-align: center;
                            font-weight: 800;
                        }
                    }
                }
            }
            .col-md-4{
                text-align: left;
            }
            .instagramdisplay {
                display: block;
                @media #{$smartphone-portrait}{
                    display: none;
                 }
            }
        }

    }

    h3 {
        adding-left: 25px;
        font-weight: 900;
        font-size: 11px;
        color: $color-footer-light;
        text-align: left;p  
        @media #{$smartphone-portrait}{
            color: $color-footer-light;
            font-size: 16px;
            margin-top: 20px;
            padding: 0;
            text-align: center;
        }
    }

    .container-responsive-2 {
        padding-top: 25px;
        padding-bottom: 15px;
        padding-left: 30px;
        background-color: $color-footer-bar;
        @media #{$pc}{
            @include center-content;
        }
        ul {
            li{
                display: inline;
                border: none;
                @media #{$smartphone-portrait}{  
                    display: inline;
                    margin-left: 8px;
                    border: none;
                }
                .fa {
                    @include interact-element-footer();
                    box-sizing: content-box;
                    width: 20px;
                    padding: 10px;
        
                    
                    font-size: 20px;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 50%;
                }
                &:last-child{
                    display: none;
                }
            }
        }

    }

    #button-scroll-up{
        @include interact-element-footer();
        position: absolute;
        bottom: 24px;
        right: 24px;

        width: 45px;
        height: 45px;

        border-radius: 8px;
        background-color: $color-footer;
        text-align: center;
        cursor: pointer;

        .fa{
            position: relative;
            top: 4px;
        }
    }
}