/*
* Team-six-theme-Footer v.0.0.1 (for now it's done)
* Responsive: ON
* Fonts and colors are right
*/

footer{
    position: relative;
    width: 100%;
    background-color: $color-footer;

    .container-responsive {
        display: block;
        text-align: center;
        
        .row {
            @include center-content();
            padding-top: 60px;
            padding-bottom: 40px;
    
            font-family: 'Open Sans', sans-serif; // 2nd font used here
            text-align: center;
            
            li {
                font-size: 13px;
                padding-bottom: 15px;
                margin-bottom: 15px;
                text-align: left;
                color: #fff;
                display: block;
                margin: 0 auto;
                width: 50%;
                padding-top: 10px;
                border-top: 1px solid $color-footer-light;
                
                &:first-child {
                    border-top: none;
                }
            }
            a {
                color: #fff;
                transition: color 0.3s;
    
                &:hover {
                    color: $color-footer-light;
                    text-decoration: none;
                    opacity: 0.7;
                }
            }
        }

    }

    h3 {
        font-weight: 900;
        font-size: 22px;
        text-align: center;
        color: $color-footer-light;
    }

    .container-responsive-2 {
        @include center-content();
        padding-top: 15px;
        padding-bottom: 15px;

        text-align: right;
        background-color: $color-footer-bar;

        li{
            display: inline;
            margin-left: 8px;
            border: none;

            &:last-child{
                display: none;
            }
        }

        .fa {
            box-sizing: content-box;
            width: 20px;
            padding: 10px;

            color: white;
            font-size: 20px;
            text-align: center;
            text-decoration: none;

            background-color: $color-footer;
            border-radius: 50%;

            transition: color 0.3s, background-color 0.3s;

            &:hover {
                color: $color-footer;
                background-color: white;
            }
        }
    }

    #button-scroll-up{
        position: absolute;
        bottom: 24px;
        right: 24px;

        width: 45px;
        height: 45px;

        border-radius: 8px;
        background-color: $color-footer;
        cursor: pointer;
    }
}