*
{
    margin: 0px;
    padding: 0px;
}

main{
    @include center-content();
    // width: 100%;
}


h2, h3{
    color: $color-post-title;
    text-transform: uppercase;
}
h2{
    font-size: 1.5em;
    font-weight: 900;
}
h3{
    font-size: 0.8em;
    font-weight: 700;
}

a{
    color: $color-text;
    
    &:hover{
        color: $color-text;
        text-decoration: none;
    }
}

.category{
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 900;
    
    a{
        color: $color-orange;
    }
}