.menu.main {
    display: inline-block;
    position: relative;
    background: #fff;
    & ul {
        display: none;
        position: absolute;
        top: 80%;
        left: 0px;
        padding-left: 15px;
        background: #fff;
        & li {
            display: block;
            float: none;
        }
    }
}